<!doctype html>
<html ng-app="UPnP">
<head>
    <title>UPnP</title>
    <meta charset="utf-8"/>
    <style>
        .brick{
            display: flex;
            flex-flow: row nowrap;
        }
        .brick > img{
            height: 50px;
            vertical-align: center;
        }
    </style>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="sc as ctrl">
<md-content>
    <md-content>
        <md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}" md-dynamic-height>
            <section ng-bind class="brick" ng-repeat="brick in ctrl.context.bricks | toArray:false | filter:{type:'BrickUPnP_MediaServer'}">
                <md-tab ng-click="ctrl.browses(brick,0)">
                    <md-tab-label>{{brick.name}}</md-tab-label>
                    <md-tab-body>
                        <section class="md-padding">
                            <section class="flex" layout="row">
                                <div class="flex" ng-repeat="dir in ctrl.context.directories">
                                    <h2>{{dir.name}}</h2>
                                    <img ng-src="{{dir.iconURL}}" ng-click="ctrl.browses(brick, dir.directory)">
                                </div>
                            </section>
                            <section class="flex" layout="column">
                                <div class="flex" ng-repeat="media in ctrl.context.medias">
                                    <h2>{{media.name}}</h2>
                                    <img ng-src="{{media.iconURL}}" ng-click="ctrl.browses(brick, dir.directory)">
                                    <button ng-click="ctrl.loadMedias(media.serverId, ctrl.rendererId, media.mediaId)">LOAD</button>
                                    <button ng-click="ctrl.play(ctrl.rendererId)">PLAY</button>
                                </div>
                            </section>
                            <!--<media-explorer-->
                            <!--title="{{brick.name}}"-->
                            <!--brick="brick"-->
                            <!--explorer="ctrl.context.explorer">-->
                            <!--</media-explorer>-->
                        </section>

                        <section ng-repeat="renderer in ctrl.context.bricks | toArray:false | filter:{type:'BrickUPnP_MediaRenderer'}">
                            <img ng-src="{{renderer.iconURL}}" ng-click="ctrl.setRenderer(renderer.id)">
                            <media-renderer
                                 title="{{renderer.name}}"
                                       brick="brick"
                                    media="ctrl.context.medias">
                            </media-renderer>
                        </section>
                    </md-tab-body>
                </md-tab>
            </section>
        </md-tabs>
    </md-content>

    <!--Pour plus tard: pour gérer les palettes de couleurs on peut récupérer un template déjà prêt-->

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-toArrayFilter/toArrayFilter.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="./bundleUPnP.js"></script>
</body>
</html>
