<style type="text/css"></style>
<h2>{{title}}</h2>

<p class="breadCrumb"><label ng-repeat="ad in mc.breadCrumb"></label></p>
<md-content class="md-padding" layout="row" layout-wrap="" layout-align="center start">
      <!--<md-card ng-repeat="server in mc.explorer|toArray:false|filter:{type:'BrickUPnP_MediaServer'}">-->
      <md-card ng-repeat="dir in mc.explorer"  ng-click="mc.Browse(mc.bricks,dir.id)">
      {{dir.id}}
      </md-card>
</md-content>

<md-content class="directories">
	<md-card class="directory" ng-repeat="cont in mc.containers">
	</md-card>
</md-content>